body {
    background-color: rgb(233, 233, 232);
    padding-bottom: 37px;
    @extend .position-relative;
}

input.form-control:focus {
    box-shadow: none;
}

.no-after::after {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
};

.btn {
    @extend .shadow;
    &:hover {
        @extend .shadow-sm;
    }
}

.text-shadow {
    text-shadow: 1px 1px 1px #cccccc;
}